  @font-face {
    font-family: "RobotoMono";
    src: url("fonts/Roboto_Mono/RobotoMono-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "RobotoMono";
    src: url("fonts/Roboto_Mono/RobotoMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "RobotoMono";
    src: url("fonts/Roboto_Mono/RobotoMono-Regular.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: "Inconsolata";
    src: url("fonts/Inconsolata/Inconsolata-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Inconsolata";
    src: url("fonts/Inconsolata/Inconsolata-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'RobotoMono', monospace;
    /* color: #333e5a; */
    /* color: #2f2bad; */
    color: black;
    min-height: 100%;
  }
  
  header {
    /* background: #f0293e; */
    /* background: #495080; */
    /* background: #2f2bad; */
    background:black;
    color: #fff;
    text-align: center;
    flex-grow: 0;
    margin-bottom: 2em;
  }
  
  h1 {
    font-weight: 600;
    padding: 0.4em 0;
  }
  
  #root {
    min-height: 100vh;
  }
  
  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    background: #ffffff;
    flex-grow: 1;
  }
  
  form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  h2 {
    font-weight: 400;
    margin-bottom: 1em;
    text-align: center;
  }
  
  form > div {
    width: 100%;
    margin-bottom: 1em;
  }
  form > div > label {
    display: block;
    margin-bottom: 0.3em;
  }
  form > div > input {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 0.4em;
    border-radius: 6px;
    border: 1px solid #333e5a;
  }
  
  button {
    /* background: #333e5a; */
    /* background: #495080; */
    /* background: #2f2bad; */
    /* background: black; */
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(77,77,77,1) 100%);
  
    color: #fff;
    font-size: 16px;
    padding: 0.4em;
    border-radius: 6px;
    border: 1px solid transparent;
  }
  button:hover {
    filter: brightness(120%);
    transition: .2 ease;
  }
  .startButton {
    width: 70px;
    height: 40px;
    font-size: 20px;
  }
  .splashContainer {
    margin-top: 30px;
    font-family: 'Inconsolata';
  }
  .splashHeader {
    color:black;
    font-size: 30px;
  }
  .headerLink {
    text-decoration: none;
    color: white;
  }
  .fas {
    color: white !important;
  }
  .exitLink {
    display: inline-block;
  }
  #exitBtn {
    /* background: red; */
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 100%);
  
  }
  .subheader {
    margin-bottom: 10px;
    margin-top: -10px;
  }
  .room {
    position: relative;
  }
  .room button {
    /* position: absolute; */
    top: 0;
    right: 20px;
  }
  
  .buttonLeft {
    /* position: absolute; */
    top: 0;
    left: 20px;
  }
  .buttonLeave{
    /* background: #ff0000; */
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 100%);
    margin-top: 20px;
  }
  
  .buttonGroup {
    /* display: inline-block; */
    position: relative;
    margin: 15px;
    /* bottom: 100px; */
  }
  .buttonGroup button {
    padding: 10px;
    width: 45px;
    margin: 10px;
    opacity: .9;
    /* background: #483d8b; */
    /* background: rgb(72,61,139); */
  /* background: linear-gradient(151deg, rgba(72,61,139,1) 35%, rgba(112,95,217,1) 100%); */
  background: linear-gradient(0deg, rgba(72,61,139,1) 35%, rgba(112,95,217,1) 100%);
  }
  
  .room > h3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 1em;
  }
  
  .local-participant {
    text-align: center;
    /* margin-bottom: 2em; */
  }
  .remote-participants {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* padding: 0 2em 2em; */
  }
  .participants-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-weight: bold;
    }
  }
  .modalBody {
    background-color: #fff;
    border-radius: 6px;

  }
  .modal p {
    margin: 0 25px;
    // width: 500px;
    width: 400px;
    padding: 15px 60px;
  }
  .modal h3{
    text-align: center;
    padding: 15px;
    margin-right: 100px;
    margin-bottom: -20px;
    font-weight: normal;
  }
  .modalClose {
    width: 40px;
    margin: 15px;
    display: inline-block;
  }
  .modal input {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    padding: 0.4em;
    border-radius: 6px;
    border: 1px solid #333e5a;
    margin: 0 auto;
  }
  .inviteContainer {
    // margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;

    button {
      margin: 10px;
    }
  }
  .participant {
    /* background: #333e5a; */
    /* background: #495080; */
    /* background: #335a36; */
    /* background: #2f2bad; */
    background: black;
    -webkit-box-shadow: -8px 6px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 6px 5px -1px rgba(0,0,0,0.75);
    box-shadow: -8px 6px 5px -1px rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 6px;
    display: inline-block;
    width: 500px;
    margin: 15px;
    /* margin-right: 10px; */
  }
  // .participant:last-child {
  //   // margin-right: 0;
  // }
  .participant h3 {
    text-align: center;
    padding-bottom: 0.5em;
    color: #fff;
    position: absolute;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 10px;
  }
  
  video {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
  }
  
  footer {
    /* background: #333e5a; */
    /* background: #335a36; */
    /* background: #2f2bad; */
    background: black;
    color: #fff;
    text-align: center;
    flex-grow: 0;
    padding: 1em 0;
  }
  
  footer a {
    color: #fff;
  }
  
  @media only screen and (max-width: 600px) {
    .splashContainer {
      margin-top: 40px;
    }
    .splashHeader {
      color:black;
      // font-size: 20px;
    }
    .startButton {
      margin-top: 50px;
    }
    .participant h3 {
      text-align: center;
      padding-bottom: 0.5em;
      color: #fff;
      position: absolute;
      font-size: 20px;
      padding-left: 20px;
      padding-top: 10px;
    }
    
  }